@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900'); 

* {
    box-sizing: border-box;
}

/*####################### general #####################*/
html {
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: rgb(60, 66, 75);
    color: white;
    text-align: center;
    margin: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding-bottom: 7rem;
    display: block;
    flex: 1 0 auto;
}

p {
    font-size: 2rem;
}

header {
    text-align: left;
}

ul {
    margin: auto;
    padding: 0em;
}
li {
    list-style: none;
    display: inline-block;
    padding: 0em 1rem;
}
a {
    text-decoration: none; 
    color: white;
    font-size: 2rem;
}
a:hover {
    color: gray;
}

.homePage {
    position: fixed;
    z-index: 9999;
    margin-top: .8rem;
    margin-left: .8rem;
    padding: .6rem ;
    border-radius: 70%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.homePage li {
    padding: 0;
}
.homePage a {
    font-size: 2.5rem;
}

.title {
    max-width: 100%;
    margin: auto;
    padding-top: 15rem;
    margin-bottom: 3rem;    
    font-size: 9rem;
    font-weight: 400;
    
}

.about-me {
    width: fit-content;
    margin: auto;
    margin-top: 10rem;
    padding: 1.5rem;
    font-size: 2rem; 
    color: rgb(158, 166, 173);
    border-top: dotted;
    border-color: rgba(240, 248, 255, 0.144);
}


/* #################### projects portfolio ######################*/
.portfolio {
    padding-top: 10rem;
    width: 100%;
    margin: auto;
}
.portfolio h1{
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-right: 7rem;
    padding-left: 0.4rem;
    padding-bottom: 0rem; 
    font-size: 4rem;
    font-weight: 100;
    border-bottom: dotted;
    border-color: rgb(146, 145, 145);
}

.port-item {
    position: relative;
    margin-bottom: 10%;
}
.port-item img {
    width: 90%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    filter: blur(0  px);
    transition: border-radius .5s, filter .5s;
}
.port-item:hover img{
    border-radius: 5%;
    filter: blur(0px);
}
.port-desc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    bottom: 1.5em;
    color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    padding-bottom: .5em;
    padding-top: .5em;
    margin: 0;
    transition: color .2s, backdrop-filter .1s ease .1s, background-color .2s;
}
.port-item:hover .port-desc {
    color: white;
    background-color: rgba(255, 255, 255, 0.027);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px) ;
}
.port-desc p {
    font-size: 200%;
    margin: .1em 0.5em;
}


/* ################### achievements timeline ##################*/
.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 10rem;
    padding-top: 50px;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}
.timeline-item {
    max-width: 100%;
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}
.timeline-item::after { /* circles */
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: rgb(60, 66, 75);
    border: 4px solid white;
    top: 5px;
    border-radius: 50%;
    z-index: 1;
}
.right::after {
    left: -16px;
}   

.left {
    left: 0;
}
.right {
    left: 50%;
}

.timeline-item::before { /* arrows  */
    content: '';
    height: 0;
    position: absolute;
    top: 13px;
    width: 0;
    z-index: 1;
    border: medium solid white;
}
.left::before {
    right: 50px;    
    border-width: 10px 0 10px 17px;
    border-color: transparent transparent transparent white;
}
.right::before {
    left: 50px;
    border-width: 10px 17px 10px 0;
    border-color: transparent white transparent transparent;
}

.content {
    padding: 25px 30px;
    position: relative;
    border: 3px solid white;
    border-radius: 25px;
}
.left .content {
    border-top-right-radius: 0;
    right: 35px;
}
.right .content {
    border-top-left-radius: 0;
    left: 35px; 
}
.content h2 {
    margin: 0;
    font-size: 2rem;
}
.content p {
    margin: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
}

/* ####################### footer ###################### */
footer {
    bottom: 0;
    margin: 0;
    padding: 1rem;
    background-color: rgb(50, 55, 62.5);
    border-width: 0;
}
footer li {
    padding: 0 4rem;
}
footer p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    color: transparent;
    transition: color .25s;
}
footer img {
    margin-top: 1rem;
    width: 35px;
}
footer li:hover p {
    color: rgb(158, 158, 158);
}


/* ######################### sizing ##################### */
@media (max-width: 985px) {
    .title {
        padding-top: 10rem;
        font-size: 6rem;
    }

    .homePage {
        background-color: rgba(255, 255, 255, 0.055);
    }
    .homePage a {
        font-size: 2rem;
    }

    .about-me {
        max-width: 90%;
    }

    .links a {
        font-size: 1.5rem;
    }

    .portfolio {
        max-width: 90%;
    }
    .portfolio h1 {
        padding-right: 3rem;
    }
    .port-item {
        margin-left: 0;
        margin-right: 0;
    }
    .port-item img {
        width: 100%;
    }
    .timeline {
        max-width: 90%;
    }

    footer li {
        padding: 0 2rem;
    }
}
@media (max-width: 650px) {
    .title {
        font-size: 4rem;
    }

    .timeline::after {
        left: 20px;
    }
    .timeline-item {
        width: 100%;
        padding-left: 80px;
        padding-right: 7px;
        margin: 20px 0;
    }
    .timeline-item::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }
    .left .content, .right .content {
        border-radius: 25px;
        border-top-left-radius: 0;
        left: 0;
        right: 0;
    }
    .left::after, .right::after {
        left: 4px;
    }
    .right {
        left: 0;
    }
}
@media (max-width: 560px) {
    .about-me {
        font-size: 1.5rem;
    }
    
    .portfolio {
        max-width: 95%;
    }
    .portfolio h1 {
        font-size: 2.5rem;
        padding-right: 1rem;
        margin-top: 5rem;
    }
    .port-item {
        margin-bottom: 1rem;
    }
    .port-item img {
        border-radius: 5%;
    }
    .port-desc {
        color: white;
        background-color: rgba(255, 255, 255, 0.027);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px) ;
    }
    .port-desc p {
        font-size: 1.3rem;
    }

    .timeline {
        padding-top: 25px;
    }
}
@media (max-width: 450px) {
    .title {
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .links a {
        font-size: 1rem;
    }

    .about-me {
        font-size: 1.2rem;
    }

    .portfolio {
        padding-top: 5rem;
    }

    .timeline {
        margin-top: 5rem;
        padding-top: 15px;
    }
    .content {
        padding: 15px;
    }
    .content h2 {
        font-size: 1.5rem;
    }
    .content p {
        font-size: 1rem;
    }
    
    footer {
        padding: 1rem;
    }
    footer li {
        padding: 0 1rem;
    }
    footer p {
        font-size: 0;
        margin: 0;
    }
    footer img {
        max-width: 30px;
    }
}