@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900'); 
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}

.container {
    width: 100%;
    margin: auto;
}

.clearfix::after, 
section::after {
    content: '';
    display: block;
    clear: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


#WIP {
    background-color: #232323;
    padding: 4.5em;
    padding-top: 5.5em;
    outline: 2px solid #ffffff;
    outline-offset: -2.5em;
    color: #ffffff;
    position: relative;;
}



/* typography
============= */

h1 {
    font-weight: 300;
    font-size: 2.5rem;
    margin-top: 0;
}

.title {
    font-size: 8vw;
    text-align: center;
    font-weight: 300;
    color: white;
    height: auto;
}
.button {
    display: inline-block;
    font-size: .85rem;
    text-decoration: none;
    text-transform: uppercase;
    border-width: 2px;
    border-style: solid;
    padding: .6em 1.75em;
    color: white;
}

.button-accent:hover {
    color: black;
    border-color: white;
    background: white;
    font-style: bold;
}  
.button-accent:focus{
    color: white;
    background: lightgray;
}

/* header 
========== */

header {
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1em;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin: 1.5em 1em;
}

nav a {
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.8ems;
    padding: .5em;
    color: white;
}

nav a:hover,
nav a:focus {
    color: rgb(167, 167, 167);
    font-style: bold;
}
nav a:focus {
    color: rgb(102, 102, 102);
}

.home-hero {
    background-image: url(images/5-officeMoon2.png);
    background-size: cover;
    background-blend-mode: color;
    background-position: center;
    padding-top: 19vh;
    height:60vh;
}

.home-about-textbox {
    background-color: #232323;
    padding: 4.5em;
    outline: 2px solid #ffffff;
    outline-offset: -2.5em;
    color: #ffffff;
    position: relative;
} 

.home-about-textbox h1 {
    color: white;
    position: absolute;
    left: 5em;
    transform: translateX(-50%);
    top: .3em;
    background-color: #232323;
    padding: 0 0.6em;
}

.button-small{
    color: white;
}
.portfolio {
    max-width: 70vw;
    margin: 0 auto;
    margin-top: 5em;
}

.port-item {
    margin: 0;
    position: relative;
    padding: 2em 0;
}

.port-desc {
    position: absolute;
    z-index: 100;
    bottom: 5em;
    left: 4em;
    right: 4em;
    color: white;
    background-color: rgba(0,0,0,.5);
    padding-bottom: 1em;
    padding-top: .2em;
    margin: 0;
}
.port-desc p{ 
    margin: .5em;
}


/* ---- animations --- */
nav a,
.button,
.home-about,
p, h1 {
    animation: fade-in 1s;
}
.title {
    animation: fade-in 1.5s ease-in;
}



@media (min-width: 15rem) {
    .home-hero {
        padding-top: 35vh;
        height: 85vh;
    }
    .title {
        font-size: 14vw;
    }
    nav{
        margin: 2em 1em;
    }
    nav a {
        font-size: .9em;
        font-weight: 100;
    }
    nav li {
        margin: .6em 0em;
    } 
    .button{
        font-size: .8em;
    }
    .button-small{
        font-size: 65%;
    }
    h1 {
        font-size: 2rem;
    }
    .home-about-textbox h1 {
        font-size: 1.8rem;
        top: .7em;
        margin-bottom: 3em;
    }
}

@media (min-width: 23rem) {
    .home-hero {
        height: 80vh;
        padding-top: 30vh;
    }
    nav li {
        font-size: 1.2em;
    }
    h1 {
        font-size: 2rem;
    }

    .home-about-textbox h1 {
        top: .6em;
        font-size: 2em;
    }
    .home-about-textbox p {
        font-size: 1.2em;
    }
}

@media (min-width: 38rem) {
    .home-hero {
        padding-top: 32vh;
    }
    .home-about-textbox{
        font-size: 1.2em;
    }
    .title {
        font-size: 5em;
        margin-bottom: 6vh;
    }
    nav li{
        font-size: 1.3em;
    }
    .button {
        font-size: .8em;
    }
    .port-desc {
        margin: 0vw 25vw;
    }
}

@media (min-width: 54rem) {
    .home-hero {
        padding-top: 38vh;
        height: 100vh;
    }
    nav {
        margin-top: 4em;
    }
    nav li{
        font-size: 1.5em;
    }
    .title {
        font-size: 8.6vw;
        margin-bottom: 10vh;
    }
    .button{ 
        font-size: 1em;
    }

    .home-about {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

    }
    .home-about-textbox {
        max-width: 70%;
        margin-left: 5%;
        top: -5em;
        text-align: left;
        box-shadow: 0 0 4em 0 rgb(0, 0, 0, .4);
    }
    .home-about-textbox h1 {
        font-size: 3em;
        top: .2em;
        left: 5rem;
        transform: translateX(0);
    }
    .home-about-textbox p {
        font-size: 1.5em;
    }
}

@media (min-width: 90rem) {
    .title {
        font-size: 7vw;
        margin-bottom: 10vh;
    }.home-hero {
        height: 100vh;
    }
    .container-about {
        max-width: 70%;
    }
    .home-about{
        margin-left: 13em;
        margin-top: 3em;
    }
    .home-about-textbox{
        margin-left: -17em;
        top: -7.4em;
    }
}