@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700,900'); 
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(60, 66, 75);
    color: white;
    text-align: center;
}
p {
    font-size: 2rem;
}

header {
    text-align: left;
}

ul {
    margin: auto;
    padding: 0em;
}
li {
    list-style: none;
    display: inline-block;
    padding: 0em 1rem;
}
a {
    text-decoration: none; 
    color: white;
    font-size: 2rem;
}
a:hover {
    color: gray;
}

.homePage {
    position: fixed;
    z-index: 9999;
    margin-top: .8rem;
    margin-left: .8rem;
    padding: .6rem ;
    border-radius: 70%;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
}
.homePage li {
    padding: 0;
}
.homePage a {
    font-size: 2.5rem;
}

.title {
    font-size: 9rem;
    font-weight: 400;
    padding-top: 15rem;
    margin-bottom: 3rem;
}

.about-me {
    width: fit-content;
    margin: auto;
    margin-top: 10rem;
    padding: 2rem;
    font-size: 2rem; 
    color: rgb(158, 166, 173);
    border-top: dotted;
    border-color: rgba(240, 248, 255, 0.144);
}

.portfolio {
    padding-top: 10rem;
    width: 960px;
    margin: auto;
}
.portfolio h1{
    width: fit-content;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    padding-right: 7rem;
    padding-left: 0.4rem;
    padding-bottom: 0rem; 
    font-size: 4rem;
    font-weight: 100;
    border-bottom: dotted;
    border-color: rgb(146, 145, 145);
}

.port-item {
    position: relative;
    margin-bottom: 10%;
}
.port-item img {
    width: 90%;
    border-bottom-right-radius: 80%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    filter: blur(0  px);
    transition: border-radius .5s, filter .5s;
}
.port-item:hover img{
    border-radius: 5%;
    filter: blur(0px);
}
.port-desc {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    bottom: 1.5em;
    color: rgba(255, 255, 255, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    padding-bottom: .5em;
    padding-top: .5em;
    margin: 0;
    transition: color .2s, backdrop-filter .1s ease .1s, background-color .2s;
}
.port-item:hover .port-desc {
    color: white;
    background-color: rgba(255, 255, 255, 0.027);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px) ;
}
.port-desc p {
    font-size: 200%;
    margin: .1em 0.5em;
}


@media (max-width: 985px) {
    .title {
        padding-top: 10rem;
        font-size: 6rem;
    }
    .homePage {
        margin: 0rem;
        background-color: rgba(255, 255, 255, 0.055);
    }
    .homePage a {
        font-size: 2rem;
    }
    .links a {
        font-size: 1.5rem;
    }
    .portfolio {
        max-width: 90%;
    }
    .portfolio h1 {
        padding-right: 3rem;
    }
    .port-item {
        margin-left: 0;
        margin-right: 0;
    }
    .port-item img {
        width: 100%;
    }
}
@media (max-width: 560px) {
    .portfolio {
        max-width: 100%;
    }
    .portfolio h1 {
        font-size: 2.5rem;
        padding-right: 1rem;
        margin-top: 5rem;
    }
    .port-item {
        margin-bottom: 1rem;
    }
    .port-item img {
        border-radius: 5%;
    }
    .port-desc {
        color: white;
        background-color: rgba(255, 255, 255, 0.027);
        -webkit-backdrop-filter: blur(12px);
        backdrop-filter: blur(12px) ;
    }
    .port-desc p {
        font-size: 1.3rem;
    }
}
@media (max-width: 450px) {
    .title {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }
    .links a {
        font-size: 1rem;
    }
    .portfolio {
        padding-top: 5rem;
    }
}